// html5开发公共配置，任何项目都可以直接拿去用
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, nav, section, article, aside, footer, figure, figcaption, menu, button {
  margin: 0;
  padding: 0;
  font-family: PingFang SC,sans-serif,Microsoft YaHei;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
.isnum{
  font-family: SFUIText,PingFang SC,Roboto,Microsoft YaHei;
}
/*页面基础属性初始化*/
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
//左右剧中
body {
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
::-webkit-scrollbar {
  display: none
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption, th {
  text-align: left
}

fieldset, img {
  border: 0
}

li {
  list-style: none
}

ins {
  text-decoration: none
}

del {
  text-decoration: line-through
}

button, input, optgroup, option, select, textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0
}

button {
  -webkit-appearance: none;
  border: 0;
  background: 0 0
}

a {
  -webkit-touch-callout: none;
  text-decoration: none
}

:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent
}

em, i {
  font-style: normal
}

input, select, textarea {
  -webkit-appearance: none;
  padding: 0;
  border-style: none
}
