$mainColor: #8ce7b4;
$fontSize: 1rem;

@keyframes rotate {
    0%      {transform: rotate(0deg);left:0px;}
    100%    {transform: rotate(360deg);left:0px;}
}

.container {
  text-align: center;
  .logo {
    animation: rotate 10s linear 0s infinite;
  }
}
